/* font stylesheet */
@import './fonts.css';

@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: YekanBakhEN, system-ui, sans-serif;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spin_container {
	animation-name: spin;
	animation-duration: 10000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*  */

.react-grid-layout {
	direction: ltr;
	overflow: hidden;
}
